body{
    background-color: #F8F5E2;
}

navbar navbar-light bg-light{
    background-color: transparent;
    padding: 20px;
}

container{
    padding-top: 10%;
}

.imageSize{
    width: 100%;
    height: auto;
}

